<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>olaolu.dev</title>
</head>
<body>
  <h1 style="color: greenyellow;">olaolu</h1>
  <br/>
  <br/>
  <br/>
  <h1 style="color: greenyellow;">Desarrolador front-end</h1>
<h3>Me gusta crear producstos frontend sólidos y escalables con excelentes experiencias de usuarios.</h3>
<br/>
<br/>
<h4 style="color: greenyellow;">altamente capacitado en mejora progresiva, sistemas de diseño e ingenieria de UI.</h4>
<pre>
  altamente capacitado en mejora 
  progresiva, sistemas de diseño e 
  ingenieria de UI.
</pre>
</body>
<body>
  <img src="Imagenes/ajajaja.PNG" alt="xD">
</body>
</html>



